<div class="footer-social-media">
  <a
    href="https://www.instagram.com/amaz_03/"
    target="_blank"
    aria-label="Instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a href="https://github.com/03Web" target="_blank" aria-label="github"
    ><i class="fab fa-github"></i
  ></a>
  <a href="https://x.com/AmaziaKristanto" target="_blank" aria-label="x"
    ><i class="fab fa-twitter"></i
  ></a>
  <a
    href="https://www.youtube.com/@amaziakristanto2301/videos"
    target="_blank"
    aria-label="youtube"
    ><i class="fab fa-youtube"></i
  ></a>
  <a href="https://ngl.link/nganu_03" target="_blank" aria-label="ngl"
    ><i class="fas fa-message"></i
  ></a>
</div>
<p>Maintained By Amazia. All Right Reserved. &copy; 2025</p>
